@import "tailwindcss";

*{
  font-family: Outfit;
}

#ovo{
  font-family: Ovo;
}

/* Light Mode */
body {
  background-color: #ffffff;
  color: #111111;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
html.dark body {
  background-color: #11001F;
  color: #ffffff;
}
